aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 7;

  background: #242424;

  @media (min-width: 900px) {
    max-width: 37rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem;
  gap: 1rem;

  width: 45%;
  min-width: 20rem;

  @media (min-width: 900px) {
    margin: auto;
  }
}

label {
  color: #dde3f0;
}

.textInput {
  padding-left: 0.5rem;

  height: 1.8rem;

  background: #696969;
  box-shadow: 0px 0px 4px #595959;
  border: 0;
  border-radius: 0.4rem;

  font-size: 1rem;
  color: #dde3f0;
}

.numberInput {
  padding-left: 0.6rem;

  width: 2.5rem;
  height: 1.9rem;

  background: #696969;
  box-shadow: 0px 0px 4px #595959;
  border: 0;
  border-radius: 0.4rem;

  font-size: 1rem;
  color: #dde3f0;

  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

button {
  align-items: center;

  height: 2.2rem;

  background: #e51c44;
  border: 0;
  border-radius: 0.4rem;

  font-size: 1rem;
  font-weight: 600;
  color: #dde3f0;

  cursor: pointer;
}
