* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
}

#container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100vh;

  @media (min-width: 900px) {
    flex-direction: row;
  }
}
