* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
}

#container {
  display: flex;
  align-items: stretch;
  height: 100vh;

  background: #0e1647;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
