main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 8;

  background: #0e1647;
  background: linear-gradient(0deg, #0e1647 0%, #1b2565 100%);
}

.cardsGrid {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0 2rem;
  gap: 1rem;

  width: 100%;

  overflow-y: scrollbar;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}
