main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 8;

  background: #0e1647;
  background: linear-gradient(0deg, #0e1647 0%, #1b2565 100%);
}

.cardsGrid {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  gap: 1rem;

  height: 100%;
}
